.imgg{
    height: 350px !important;
    width: 450px !important;
}

.imgyeye{
    height: 150px !important;
    width: 500px !important;
}

.yy{
    height: 200px !important;
    width: 200px !important;
}

.rr{
    height: 450px !important;
    width: 360px !important;
}

.ii{
    height: 600px !important;
    width: 1500px !important;
}

.gg{
    height: 85px !important;
    width: 100px !important;
}

.pp{
    height: 300px !important;
    width: 300px !important;
}

.zz{
    height: 300px !important;
    width: 00px !important;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.overflow1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

