.imgg{
    height: 300px !important;
    width: 400px !important;
}

.imgyeye{
    height: 150px !important;
    width: 500px !important;
}

.yy{
    height: 150px !important;
    width: 150px !important;
}

.rr{
    height: 450px !important;
    width: 360px !important;
}

.ii{
    height: 600px !important;
    width: 1500px !important;
}

.gg{
    height: 100px !important;
    width: 100px !important;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

